/* google fonts */

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:400,700');

body {
  font-family: 'Open Sans', sans-serif;  
}

h1 h2 h3 h4 h5 h6 {
  font-family: 'Montserrat', sans-serif;
}



.navbar {
  margin-bottom: 0;
}

.section-title {
    color: rgb(0, 0, 0);
    /* text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; */
}

.space-300px-above { 
  margin-top: 70px; 
}

.jumbotron {
  padding-top: 6rem;
  padding-bottom: 6rem;
  margin-bottom: 0;
  background-color: #fff;
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 60rem;
}

.album {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #f7f7f7;
}

div.card > h3 {
  margin-bottom: 1em;
}

/* For full size browsers, nice hover shadow cards */
@media screen and (min-width: 700px){
  .card {
    float: left;
    width: 29%;
    padding: 1.25rem;
    margin-bottom: 5rem;
    padding-bottom: 2em;
    margin-left: 4%;
    border: 0;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  }

  .card:hover {
    box-shadow: 0 4px 8px 0 rgb(88, 125, 182), 0 6px 20px 0 rgb(88, 125, 182);       

  }

  #my-splash-image-top {
    background-image: url(./img/battlestation.jpg);
    height: 400px;
    background-color: rgb(50, 51, 48);
    background-attachment: fixed;
    background-position: center; 
  }
  
  #my-splash-image-bottom {
    background-image: url(./img/waterfall.jpg);
    height: 700px;
    background-color: rgb(50, 51, 48);
    background-attachment: fixed;
    background-position: center; 
  }

  }

  /* Make single columns at smaller screen sizes */
@media screen and (max-width: 699px){
  .card {
    float: left;
    /*width: 33.333%;*/
    width: 100%;
    padding: .75rem;
    margin-bottom: 2rem;
    border: 0;
    
  }

  #my-splash-image-top {
    visibility: hidden;
  }
  
  #my-splash-image-bottom {
    visibility: hidden;
    
  }
  }

.card > a > img {
  margin-bottom: .75rem;
  width: 100%;
  border: 1px solid #2a2a2e;
  border-radius: 2%;
}

.card-text {
  font-size: 85%;
}

.headshot {
  border-radius: 50%;
  height: 150px;
  margin-bottom: 20px;
}
